.crosshair {
  pointer-events: none;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crosshair__reticle {
  position: relative;
  width: 4rem;
  height: 4rem;
}

.crosshair__line-v {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  transform: translateX(-50%);
  background-color: color-mix(in srgb, var(--color-osd-primary) 70%, transparent);
}

.crosshair__line-h {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  transform: translateY(-50%);
  background-color: color-mix(in srgb, var(--color-osd-primary) 70%, transparent);
}

.crosshair__dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  transform: translate(-50%, -50%);
  border-radius: 9999px;
  border: 1px solid var(--color-osd-primary);
}
